<<<<<<< HEAD
<<<<<<< HEAD
<h1>菅田将暉　綾野剛　斎藤工</h1>
<h1>浜辺美波　二階堂ふみ</h1>
<h2>四千頭身　ジャルジャル　ミキ</h2>
<h1>梅澤美波</h1>
<h1>齋藤飛鳥</h1>
=======
<%@posts.each do |post| %>
  <div class="post">
    <div class="profile">
      <%=post.target_id %>
    </div>
    <div class="image">

    </div>
  </div>

<% end %>
>>>>>>> b3340dc7947ec7f5fc0e3d5846372f60194caab1
=======
<h2>Hello World</h2>
>>>>>>> b50431b3a8fb8d1c41d2f0ed8abb60e090779888
