<<<<<<< HEAD
=======
<%@posts.each do |post| %>
  <div class="post">
    <div class="profile">
      <%=post.target_id %>
    </div>
    <div class="image">

    </div>
  </div>

<% end %>
>>>>>>> 587daa73d870ba4ef436a4067227a3bdd9e3967c
