<%@posts.each do |post| %>
  <div class="post">
    <div class="profile">
      <%i=0 %>
      <% while i<post.count %>
        <%=post.target_id+"/"+post.post_id+"/"+i.to_s+".jpg" %>
        <%=image_tag "/images/"+post.target_id+"/"+post.post_id+"/"+i.to_s+".jpg"%>
        <%i+=1 %>
      <%end %>
    </div>
    <div class="image">

    </div>
  </div>

<% end %>