<div id="menu">
  <p>会員登録手続きの手順</p>
  <%=image_tag 'reg6.png'%>
</div>
<div id="main">
  <h2>会員登録が完了しました</h2>
  <p>ご登録ありがとうございます</p>

  <div id="page-menu">
    <div id="left">
      <div id="rank" class="cont">
      <a href=""><%=image_tag 'rank.png'%></a>
      </div>
      <div id="top" class="cont">
        <a href="/top"><%=image_tag 'top.png'%></a>
      </div>
    </div>
    <div id="prof" class="cont">
      <a href=""><%=image_tag 'profiel.png'%></a>
    </div>
  </div>
</div>