<div id="menu">
  <p>会員登録手続きの手順</p>
  <%=image_tag 'reg2.png'%>
</div>
<div id="main">
  <p>
    下記メールアドレスに、件名「【Nikki】登録のご案内」というメールをお送りしました。<br>
    メールに記載されているURLをクリックして、次のステップへ進んでください。
  </p>

  <p>
    <%=session[:address]%>に送信しました。
  </p>

  <p>
    <font color="red">※</font>24時間以内に本登録されない場合は、仮登録が無効になりますのでご注意ください。
  </p>
  <hr>
  <ul id="info"><strong>メールが届かない場合</strong>
    <li>メールアドレスが正しいかをご確認ください。間違っていた場合は、正しいメールアドレスで登録してください。</li>
    <li>ドメイン指定受信をされている方は、「nikki.jp」を受信できるように設定してください。</li>
    <li>迷惑メールフォルダに入っていないかご確認ください。</li>
    <li>Nikkiに登録済みの場合、メールは送信されません。</li>
  </ul>
</div>