<%= stylesheet_link_tag 'setting', media: 'all', 'data-turbolinks-track': 'reload' %>

<div id="user_information_area">

  <h1>ユーザー情報</h1>
  <div id="config_menu">
    <ul>
      <li>
        <%= link_to 'メールアドレス変更', '/setting/index' %>
      </li>
      <li>
        <%= link_to 'パスワード変更', '/setting/password_config' %>
      </li>

    </ul>
  </div>

  <br>
  <br>

  <div id="mail_address_config">


    <h2>パスワードを変更しました。</h2>
  </div>


</div>