// Place all the styles related to the setting controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#user_information_area{
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  padding: 0.5em 1em;
  margin: 0 auto;
  color:black;
  background: #dddddd;
  border-bottom: solid 6px #CCCCCC;
  border-radius: 9px;
  width:80%;
  max-width: 500px;




}

#user_information_area ul li{
  margin: 0;
  padding: 0;
}


#config_menu ul li{
  display: inline;

}
#mail_address_config{
  margin:2em 0;
  position: relative;
  padding: 0.5em 1.5em;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
}

#mail_address_config:before,#mail_address_config:after{
  content: '';
  position: absolute;
  top: -10px;
  width: 2px;
  height: -webkit-calc(100% + 20px);
  height: calc(100% + 20px);
  background-color: black;
}

#mail_address_config:before{left: 10px;}
#mail_address_config:after{right:10px;}