
<%= stylesheet_link_tag    'base', media: 'all', 'data-turbolinks-track': 'reload' %>





<form method="post" action="">
  <input type="button" name = "button" value = "編集" />
</form>





<h1>Mypage#index</h1>
<p>Find me in app/views/mypage/index.html.erb</p>
