<!DOCTYPE html>
<html>
<head>
  <title>Nikki</title>

</head>

<body>

<div class = "side_main_menu">
  <ul>
    <li>トップ</li>
    <li>ランキング</li>
    <li>最新の投稿</li>
    <li>Coming Soon</li>
    <li>Coming Soon</li>
  </ul>
</div>
</body>

<bottom>

</bottom>
</html>


<h1>Mypage#index</h1>
<p>Find me in app/views/mypage/index.html.erb</p>
