<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <%=csrf_meta_tags%>
  <%= stylesheet_link_tag 'login',media:'all','data-turbolinks-track':'reload' %>

  <title>Nikki</title>
</head>
<body>
<%=yield %>
</body>
</html>